<!--     <abbr title="">xd</abbr> -->
<!--     <abbr title="">xd</abbr> -->
<!--     <address>xdd</address> -->
<!--     <dt>xdd</dt> -->
<!--     <dd>xdd</dd> -->
<!--     <blockquote>xdd</blockquote> -->
<!--     <b>xdd</b> -->
<!--     <strong>xdd</strong> -->
<!--     <mark>xdd</mark> -->
<!--     <sub>xdd</sub> -->
<!--     <sup>xdd</sup> -->
<!--     <pre>xdd</pre> -->
<!--     <code>xdd</code> -->
<!--     <kbd>xdd</kbd> -->
<!--     <samp>xdd</samp> -->
<!--     <caption>xdd</caption> -->
<!--     <legend>xdd</legend> -->
<!--     <iframe src="" frameborder="0">xdd</iframe> -->
<!--     <summary>xdd</summary> -->

<!-- <div class="container">
        <form action="" method="post">
            <h1 class="text-bg-primary">xdd</h1>
            <h1 class="text-bg-secondary">xdd</h1>
            <h1 class="text-bg-success">xdd</h1>
            <h1 class="text-bg-info">xdd</h1>
            <h1 class="text-bg-warning">xdd</h1>
            <div class="row-cols-2">
                <div class="col">
                    xdd
                </div>
                <div class="col">
                    xdd
                </div>
            </div>
            <div class="row">
                <div class="col">
                    xdd
                </div>
                <div class="col">
                    xdd
                </div>
            </div>
            <div class="row">
                <div class="col">
                    xdd
                </div>
                <div class="col">
                    xdd
                </div>
            </div>
    </div> -->
<!-- <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-form-label">
                    <label for="">N</label>
                    <input type="text" class="form-switch">
                </div>
                <div class="col-form-label">
                    <input type="text" class="form-switch">
                </div>
            </div>
    </div>
    <div class="|"></div>
    </div>
    </form>
    </div> -->

<!--     <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                    <code>.accordion-flush</code> class. This is the first item's accordion body.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Accordion Item #2
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                    <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this
                    being filled with some actual content.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Accordion Item #3
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                    <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                    happening here in terms of content, but just filling up the space to make it look, at least at first
                    glance, a bit more representative of how this would look in a real-world application.
                </div>
            </div>
        </div>
    </div>

    <form action="<?php isset($_REQUEST["/assets"]) ?>" method="post">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="col">
                        <h2 class="accordion-header">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text"></div>
                        </h2>
                    </div>
                    <div class="col">
                        <h2 class="accordion-header">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password">
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="mb-3">
            <legend>Radios buttons</legend>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->

<!-- <form>
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" />
            <small id="helpId" class="text-muted">Help text</small>
        </div>
    </form> -->

<!-- C:\laragon\www\DigitalCode\MVP\View\login\digitalcode.php -->
